# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
.venv/
ENV/
env/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Local database and secret files
*.sqlite3
*.db

# Model artifacts
*.pkl

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
